CONFIG_SERIAL_DEV_BUS=y
CONFIG_SURFACE_AGGREGATOR=y
CONFIG_SURFACE_AGGREGATOR_BUS=y
CONFIG_SURFACE_AGGREGATOR_CDEV=y
CONFIG_SURFACE_AGGREGATOR_REGISTRY=y
CONFIG_SURFACE_PLATFORM_PROFILE=y
CONFIG_SURFACE_HID_CORE=y
CONFIG_SURFACE_HID=y
CONFIG_SURFACE_KBD=y
CONFIG_BATTERY_SURFACE=y
CONFIG_CHARGER_SURFACE=y
CONFIG_SURFACE_PRO3_BUTTON=y
CONFIG_SURFACE_DTX=y
CONFIG_SURFACE_HOTPLUG=y
